@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #121212;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  font-family: "Segoe UI";
}

@layer components{
  .underline-on-hover:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .welcome {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-size: min(3vw, 3vh);
  }

  .welcome-logo {
    width: 20em;
  }

  .spotify-button {
    background-color: #1DB954;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    padding-top: 1em;
    padding-right: 2.5em;
    padding-bottom: 1em;
    padding-left: 2em;
    border: none;
    border-radius: 3em;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .spotify-button:hover {
    background-color: #1ed760;
    transform: scale(1.05);
  }

  .spotify-button:active {
    transform: scale(0.95);
  }

  .spotify-logo {
    height: 2em;
  }

  .logged-in-header {
    display: flex;
    justify-content: space-between;
    padding: max(20px, 3vh);
    font-size: 1.25vw;
  }
  .logo {
    height: 5vh;
    position: absolute;
  }

  .avatar {
    height: 1.5em;
    border-radius: 3em;
  }

  .user-button {
    position: relative;
    margin-left: auto;
    background-color: #1f1f1f;
    font-size: 3vh;
    border-radius: 3em;
    display: flex;
    align-items: center;
    transition: all .2s ease;
    overflow: visible;
    gap: 1em;
  }

  .user-button:hover {
    transform: scale(1.05);
  }

  .user-button:active {
    transform: scale(0.95);
  }

  .user-button-trigger {
    position: relative;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    background-color: #1f1f1f;
    padding: 0.4em;
    border-radius: 3em;
    transition: background-color 0.2s;
    overflow: visible;
    z-index: 1000;
  }

  .user-button-trigger p {
    color: white;
    margin: 0;
  }

  .user-button-menu {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1f1f1f;
    border-radius: 3em;
    font-size: 0.5em;
    white-space: nowrap;
    z-index: 0;
    opacity: 0;
    width: 0;
    transition: width 0.3s ease, background-color 0.2s;
    cursor: pointer;
    margin-right: auto;
  }

  .user-button-menu:hover {
    background-color: #333333;
  }

  .user-button-menu button {
    width: 100%;
    background: none;
    border: none;
    border-radius: 3em;
    color: white;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease;
    transition-delay: 0s;
    padding: 1.6em;
  }

  .user-button-menu.open {
    transform: translateY(-50%);
    opacity: 1;
    width: 11em;
    z-index: 999;
  }

  .user-button-menu.closed {
    width: 5em;
    transform: translateY(-50%);
    opacity: 0;
  }

  .user-button-menu.open button {
    opacity: 1;
    transition-delay: 0.1s;
  }

  .user-tooltip {
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1f1f1f;
    color: white;
    padding: 0.5em 0.75em;
    border-radius: 3em;
    font-size: 0.4em;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: 1001;
  }

  .user-button-trigger:hover .user-tooltip {
    opacity: 1;
  }

  .sub-header {
    text-align: center;
    font-size: min(3vw, 3vh);
    font-weight: bold;
    padding-top: 3em;
    padding-bottom: 1em;
  }

  .playlists-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .playlists-scroll {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .playlists-scrollbar {
    max-height: 40vh;
  }

  .playlists-fade-container {
    position: relative;
    max-height: 70vh;
  }

  .playlists-fade-container::before,
  .playlists-fade-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1em; /* Adjust fade height */
    pointer-events: none;
    z-index: 10;
  }

  .playlists-fade-container::before {
    top: 0;
    background: linear-gradient(to bottom, var(--background) 0%, transparent 100%);
  }

  .playlists-fade-container::after {
    bottom: 0;
    background: linear-gradient(to top, var(--background) 0%, transparent 100%);
  }

  .playlist-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5vh;
    gap: 1em;
    padding: 1em;
    background-color: #1f1f1f;
    border-radius: 1em;
    transition: background-color 0.2s ease;
    margin-right: auto;
    width: 100%;
  }

  .playlist-cover {
    width: 10vh;
    height: 10vh;
    padding: 0.5em;
    border-radius: 1.2em;
    object-fit: cover;
  }

  .playlist-name {
    font-size: 1.4em;
    font-weight: bold;
  }

  .playlist-info {
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .playlist-button {
    background-color: rgb(80, 80, 80);
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: .5em 1.5em;
    border: none;
    border-radius: 3em;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-right: 1em;
  }

  .playlist-button:hover {
    background-color: rgb(100, 100, 100);
    transform: scale(1.05);
  }

  .playlist-button:active {
    transform: scale(0.95);
  }

  .share-link-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    gap: 1em;
    transition: all 0.4s ease;
    margin-bottom: 1em;
  }

  .share-link-section.open {
    opacity: 1;
    margin-top: 1em;
  }

  .share-link-section.closed {
    opacity: 0;
    margin-top: -1em;
  }

  .share-link-header {
    font-size: 1em;
    font-weight: bold;
    padding: 1em;
  }

  .share-link-field {
    background-color: #1f1f1f;
    border-radius: 3em;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    width: min(90vw, 700px);
  }

  .share-url {
    color: rgb(180, 180, 180);
    font-size: 1em;
    padding-left: 1.3em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .copy-button {
    background-color: rgb(80, 80, 80);
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 0.7em 1.5em;
    border: none;
    border-radius: 3em;
    cursor: pointer;
    margin-left: auto;
    transition: all 0.2 ease;
  }

  .copy-button:hover {
    background-color: rgb(100, 100, 100);
  }

  .copy-button:active {
    background-color: rgb(80, 80, 80);
  }
  
  .collab-header {
    padding: max(20px, 3vh);
  }

  .collab-section {
    max-width: 60em;
    margin: 0 auto;
    font-size: 2vh;
  }

  .collab-pl-section {
    display: flex;
    align-items: center;
    width: min(90%, 1000px);
    height: 20vh;
    background-color: #1f1f1f;
    margin-inline: auto;
    border-radius: 1em;
    padding: 1em;
  }

  .collab-pl-cover-link {
    height: fit-content;
    width: fit-content;
    padding-right: 1em;
  }

  .collab-pl-cover {
    width: 20vh;
    border-radius: 0.5em;
    transition: all 0.1s ease;
  }

  .collab-pl-cover:hover {
    transform: scale(1.05);
  }

  .collab-pl-name {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.5em;
  }

  .collab-pl-tracks {
    width: 100%;
    max-width: 1000px;
  }
  
  .collab-pl-tracks-fade-container {
    position: relative;
    max-height: 70vh;
  }

  .collab-pl-tracks-fade-container::before,
  .collab-pl-tracks-fade-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1em; /* Adjust fade height */
    pointer-events: none;
    z-index: 10;
  }

  .collab-pl-tracks-fade-container::before {
    top: 0;
    background: linear-gradient(to bottom, #1f1f1f 0%, transparent 100%);
  }

  .collab-pl-tracks-fade-container::after {
    bottom: 0;
    background: linear-gradient(to top, #1f1f1f 0%, transparent 100%);
  }

  .collab-pl-tracks-scroll {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .collab-pl-tracks-scrollbar {
    max-height: 13vh;
  }

  .collab-pl-track-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
    background-color: var(--background);
    border-radius: 0.6em;
    padding: 0.3em;
    transition: background-color 0.2s ease;
    margin-right: auto;
    width: 100%;
  }

  .collab-pl-track-number {
    font-size: 0.7em;
    color: rgb(180, 180, 180);
    margin: 0 1em;
  }

  .collab-pl-track-cover {
    width: 2em;
    height: 2em;
    border-radius: 0.3em;
    object-fit: cover;
    margin-right: 0.5em;
  }

  .collab-pl-track-name {
    font-weight: bold;
  }

  .collab-pl-track-artists {
    font-size: 0.7em;
    color: rgb(180, 180, 180);
  }

  .collab-pl-track-button-delete {
    margin-left: auto;
    margin-right: 0.5em;
    background-color: rgb(80, 80, 80);
    cursor: pointer;
    padding: 0.5em;
    border-radius: 50%;
    transition: all 0.1s ease;
  }

  .collab-pl-track-button-delete:hover {
    transform: scale(1.1);
  }

  .collab-pl-track-button-delete:active {
    transform: scale(0.9);
  }

  .collab-pl-track-button-delete-icon {
    width: 0.5em;
    height: 0.5em;
  }

  .search-section {
    margin-bottom: auto;
    margin-top: 1em;
    text-align: center;
  }
  
  .search-header {
    font-size: 1.1em;
    font-weight: bold;
  }

  .search-bar {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 3em;
    width: min(90vw, 700px);
    text-align: left;
    margin: 1em 0;
    margin-inline: auto;
  }

  .search-bar input {
    padding-left: 1em;
    outline: none;
    box-shadow: none;
  }

  .search-bar input:focus::placeholder {
    opacity: 0;
  }

  .search-button {
    background-color: rgb(80, 80, 80);
    font-weight: bold;
    padding: 0.7em 1.5em;
    border-radius: 3em;
    cursor: pointer;
    margin-left: auto;
    width: 10em;
  }
  
  .search-button:hover {
    background-color: rgb(100, 100, 100);
  }
  
  .search-button:active {
    background-color: rgb(80, 80, 80);
  }

  .tracks-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .tracks-scroll {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .tracks-scrollbar {
    max-height: 30vh;
  }

  .tracks-fade-container {
    position: relative;
    max-height: 70vh;
  }

  .tracks-fade-container::before,
  .tracks-fade-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1em; /* Adjust fade height */
    pointer-events: none;
    z-index: 10;
  }

  .tracks-fade-container::before {
    top: 0;
    background: linear-gradient(to bottom, var(--background) 0%, transparent 100%);
  }

  .tracks-fade-container::after {
    bottom: 0;
    background: linear-gradient(to top, var(--background) 0%, transparent 100%);
  }

  .track-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5vh;
    gap: 1em;
    padding: 1em;
    background-color: #1f1f1f;
    border-radius: 1em;
    transition: background-color 0.2s ease;
    margin-right: auto;
    width: 100%;
  }

  .track-cover {
    width: 7vh;
    height: 7vh;
    padding: 0.5em;
    border-radius: 1.2em;
    object-fit: cover;
  }

  .track-name {
    font-size: 1.4em;
    font-weight: bold;
  }

  .track-info {
    text-align: left;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .track-button-add {
    background-color: rgb(80, 80, 80);
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-right: 1em;
  }
  
  .track-button-add:hover {
    background-color: rgb(100, 100, 100);
    transform: scale(1.1);
  }

  .track-button-add:active {
    transform: scale(0.5);
  }

  .track-button-add-icon {
    width: 0.5em;
    height: 0.5em;
  }
}
